.skip-link {
  position: absolute;
  top: -100px;
  left: 0;
  z-index: 1001;
}
.skip-link:focus {
  top: 0;
}

/* *:focus {
  outline: 0;
  box-shadow: 0 0 8px 5px rgba(255, 69, 0, 0.8);
} */

body,
td,
th,
p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  color: #333333;
}

body {
  background-color: #ffffff;
  margin: 0;
  position: relative;
  min-width: 370px;
}

ul,
li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  color: #333333;
}

a {
  color: #ffa500;
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: none;
}

a img {
  border: none 0px #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

#maincontent {
  min-height: 100%;
  max-width: 1800px;
  margin: 0 auto;
}

#footer {
  background-color: #ffffff;
  color: #333333;
  font-size: 1.14em;
  border-top:0.5px solid #ffa500;
  letter-spacing: 1px;
  padding: 25px 0;
  text-align: center;
  text-transform: uppercase;
}

/* ====================== Navigation ====================== */

nav {
  position: fixed;
  z-index: 1;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 80px;
  border: 0.5px solid #ffa500; 
  background-color: #ffffff;
  text-align: center;
  display: flex;
  align-items: center;
}

nav h1 {
  margin: auto;
}

nav h1 a {
  color: #000;
  font-size: 1.5em;
  font-weight: 200;
  font-family: 'Alegreya', serif;
  letter-spacing: 0.4em;
  text-transform: uppercase;
}

nav h1 a:hover {
  color: #ffa500;
}
@media screen and (max-width:686px) and (min-width:470px){
  nav h1 a{
    color: #000;
    font-size: 1em;
  }
  nav h1 img{
    width:40px;
  }
}
@media screen and (max-width:469px) {
  nav h1 a{
    font-size: 0.7em;
    font-weight: 500;
  }
  nav h1 img{
    width:30px;
  }
}
#breadcrumb {
  padding: 100px 40px 16px;
  list-style: none;
  background-color: #eeeeee;
  font-size: 1em;
  margin: 0;
  width: calc(50% - 80px);
}

/* Display list items side by side */

#breadcrumb li {
  display: inline;
}

/* Add a slash symbol (/) before/behind each list item */

#breadcrumb li + li:before {
  
  color: #000000;
  content: "/\00a0";
}

/* Add a color to all links inside the list and setting button size */

#breadcrumb li a {
  color: #ffa500;
  text-decoration: none;
  font-weight: 600;
  padding: 20px 10px;
}
#breadcrumb li img{
  padding-top: 05px;
  width: 20px;
  height: 20px;
  padding-right: 5px;
}

/* Add a color on mouse-over */

#breadcrumb li a:hover {
  color: #444444;
  text-decoration: underline;
}

/* ====================== Map ====================== */

#map {
  
  height: 400px;
  background-color: #ffffff;
  width: 100%;
  margin-top: 80px;
  
}

/* ====================== Restaurant Filtering ====================== */

.filter-options {
  position: relative;
  width: 100%;
  align-items: center;
  background-color: #ffa500;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.filter-options h2 {
  color: #ffffff;
  margin: 0 20px;
  padding-top: 5px;
  font-size: 1.2em;
  font-weight: 500;
  letter-spacing: 2px;
  text-align: center;
  width: 100%;
}
.filter-options h2:focus {
  outline: 0;
  color: #ffffff;
  text-decoration: underline;
}
.filter-options img{
 height: 20px;
 padding: 10px 5px 0 0; 
}

.filter-options select {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 2px;
  font-family: Arial, sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 5px 10px 10px 10px;
  padding: 0 10px;
  width: 20%;
}
.filter-options label {
  position: absolute;
  left: -3000px;
}

/* ====================== Restaurant Listing ====================== */

#restaurants-list {
  background-color: #ffffff;
  list-style: outside none none;
  margin: 0;
  padding: 30px 0;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#restaurants-list li {
  background-color: #ffffff;
  margin: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  min-height: 380px;
  width: calc(33% - 24px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all .1s ease-in;
}
#restaurants-list .rating_img{
  width: 20px;
  height: 20px;
  top: -10px;
}
#restaurants-list .container{
  position: relative;
  margin: 0;
  max-width: 100%;
  min-width: 100%;
}
.container .restaurant-img{
  margin: 0;
  max-width: 100%;
  min-width: 100%;

}
 .container .restaurant-rating{
  position: absolute;
  bottom: 5px;
  right:10px;
  padding:5px 5px 5px 5px;
  background-color: darkred;
  color: #fff;
}

#restaurants-list li h3 {
  color: #b34f00;
  letter-spacing: 0;
  line-height: 1.2em;
  margin: 20px 0 10px;
  text-transform: uppercase;
  padding: 0 5px;
}

#restaurants-list li p {
  margin: 0;
  font-size: 0.9em;
}

#restaurants-list li p:first-of-type {
  font-size: 1.1em;
}

#restaurants-list li a {
  background-color: #ffa500;
  color: #2b2b2b;
  display: inline-block;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.9em;
}

#restaurants-list li:hover {
  box-shadow: 0 15px 15px rgba(0,0,0,.5);
}


/* ====================== Restaurant Details ====================== */

.inside .restaurant-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 2px 1px 2px rgba(0, 0, 0, 0.1);
}

.restaurant-header #breadcrumb {
  width: 100%;
  text-align: center;
}

.restaurant-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

 #map-container {
  width: 100%;
  height: 300px;
  padding:70px 0 0;
  order: 0;
}

.inside #map {
  height: 100%;
  width: 100%;
}

.inside #footer {
  bottom: 0;
  position: absolute;
  width: 100%;
}


#restaurant-name {
  color: #b34f00;
  font-family: Arial, sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
}
#restaurant-name:hover{
  color: darkred;
}
#restaurant-name .restaurant_name_icon{
  display: inline-block;
}
#restaurant-img {
  width: 90%;
  border: 1px solid #b34f00;
}

#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
  font-weight: 600;
}

#restaurant-cuisine {
  background-color: #ffa500;
  color: #fff;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
  width: 90%;
}

#restaurant-container {
  width: 40%;
  padding: 140px 0 30px 40px;
}

#reviews-container {
  width: 50%;
  margin: 30px auto;
  overflow-y: auto;
  padding: 140px 0;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #ffffff;
}

#reviews-container h4 {
  color: #b34f00;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
}

#reviews-list {
  margin: 0;
  padding: 0 20px 20px;
}

#reviews-list li {
  background-color: #ffffff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  position: relative;
  width: 100%;
  border-radius: 0 0 20px 0;
  box-shadow: 10px 10px #eeeeee;
}

/*
*
* REVIEW ITEM CUSTOMIZATION
*
*/

#reviews-list li p {
  margin: 0 0 10px;
}

#reviews-list li p:first-of-type {
  font-size: 1.2em;
  color: #ffffff;
  border-radius: 20px 0 0 0;
  box-shadow: -10px -10px #eeeeee;
}

#reviews-list li p:first-of-type + p {
  color: #eeeeee;
}

#reviews-list li p:first-of-type,
#reviews-list li p:first-of-type + p {
  background-color: #333333;
  border: 1px solid #333333;
  margin: 0;
  padding-left: 10px;
}

#reviews-list li p:nth-of-type(3n) {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #ffa500;
  color: #2b2b2b;
  display: inline-block;
  border-radius: 3px;
  text-transform: uppercase;
}

#reviews-list li p:last-of-type {
  width: 500px;
  float: right;
  padding: 10px 20px 0 0;
  font-size: 1em;
  line-height: 1.3em;
}

#restaurant-hours td {
  color: #666;
  border: 1px solid #b34f00;
  text-align: center;
}

/*
*
* ************** Responsive implementation************
*
*/

@media screen and (max-width: 576px) {
  /* HOME PAGE */
  #map,
  #restaurants-list {
    width: 100%;
  }

  .filter-options h2 {
    font-size: 1em;
  }

  .filter-options select {
    width: 45%;
    margin: 5px;
    padding: 0;
  }

  #restaurants-list li {
    width: 100%;
  }

  /* RESTAURANT DETAILS */
   #map-container {
    width: 100%;
    height: 300px;
    margin: 0 auto;
    padding: 70px 0 80px 0;
    order: 0;
  }

  #restaurant-container {
    order: 1;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #333333;
  }

  #restaurant-name {
    align-self: flex-start;
    margin: 30px 0 15px;
    transform: translateX(8%);
  }

  #reviews-container {
    order: 2;
    width: 100%;
  }

  #reviews-container h4 {
    text-align: center;
  }
}

@media screen and (min-width: 577px) and (max-width: 767px) {
  /* HOME PAGE */
  #map {
    width: 100%;
  }

  .filter-options h2 {
    font-size: 1em;
  }

  .filter-options select {
    width: 30%;
    margin: 5px;
    padding: 0;
  }

  #restaurants-list {
    width: 100%;
  }

  #restaurants-list li {
    width: calc(50% - 24px);
  }

  /* ****RESTAURANT DETAILS ******/
  /*  details */
  .restaurant-main {
    position: relative;
  }

  .restaurant-main #map-container {
    position: absolute;
    width: 50%;
    height: 400px;
    right: 0;
    padding-right: 0;
  }

  #restaurant-container {
    width: 100%;
    padding-left: 0;
  }

  #restaurant-name,
  #restaurant-img,
  #restaurant-cuisine {
    width: 50%;
  }

  #restaurant-name {
    text-align: center;
  }

  #restaurant-address {
    width: 40%;
    padding-left: 20px;
  }

  #restaurant-hours {
    width: 80%;
    margin: 0 auto;
    text-align: end;
  }

  #restaurant-hours tr:nth-child(odd) {
    background-color: #ffffff;
  }

  #restaurant-hours tr :first-child {
    text-align: start;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  /* HOME PAGE */
  #map {
    width: 100%;
  }
  #restaurants-list {
    width: 90%;
  }

  .filter-options select {
    padding: 5px;
  }

  #restaurants-list li h3 {
    font-size: 1.3em;
  }

  /******* RESTAURANT DETAILS *******/
  /* restaurant details */
  #restaurant-container {
    width: 100%;
    padding: 0;
    margin: 0 auto;
    order: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    border-top: 1px solid #d9d9d9;
  }

  #restaurant-name,
  #restaurant-img,
  #restaurant-cuisine,
  #restaurant-address,
  #restaurant-hours {
    width: 48%;
  }

  #restaurant-name {
    order: 0;
    text-align: center;
    margin-bottom: 0;
  }

  #restaurant-img {
    object-fit: contain;
    order: 2;
  }

  #restaurant-cuisine {
    order: 4;
    align-self: flex-start;
  }

  #restaurant-container::after {
    order: 5;
    width: 48%;
    content: "";
  }

  #restaurant-address {
    order: 1;
    text-align: center;
  }

  #restaurant-hours {
    margin-top: 30px;
    order: 3;
    align-self: flex-start;
  }

  #restaurant-hours tr {
    display: flex;
    flex-direction: column;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 8px;
  }

  #restaurant-hours tr :first-child {
    text-decoration: underline;
  }

  /* map */
  .restaurant-main #map-container {
    width: 100%;
    height: 300px;
    margin: 0 auto;
    padding: 140px 0 0;
    order: 0;
  }

  /* reviews */
  #reviews-container {
    order: 2;
  }

  #reviews-list li {
    width: 100%;
    padding: 0;
  }

  #reviews-list li p:first-of-type,
  #reviews-list li p:first-of-type + p {
    padding-left: 20px;
  }

  #reviews-list li p:nth-of-type(3n) {
    margin-left: 10px;
  }
}

@media screen and (max-width: 767px) {
  /* RESTAURANT DETAILS */
  /* reviews */
  #reviews-list li {
    width: 100%;
    padding: 0;
    display: block;
  }

  #reviews-list li p:first-of-type,
  #reviews-list li p:first-of-type + p {
    padding: 0;
    margin: 0;
    height: 50px;
    display: inline-block;
  }

  #reviews-list li p:first-of-type {
    width: calc(50% - 30px);
    font-size: 1.5em;
    line-height: 2.08em;
    padding-left: 30px;
  }

  #reviews-list li p:first-of-type + p {
    line-height: 3.5em;
    width: calc(50% - 40px);
    text-align: right;
    padding-right: 30px;
  }

  #reviews-list li p:nth-of-type(3n) {
    margin-left: 30px;
  }

  #reviews-list li p:last-of-type {
    font-size: 1.1em;
    line-height: 1.875em;
    padding: 0 30px;
    width: calc(100% - 60px);
    float: none;
    letter-spacing: -1px;
  }
}